.copied{
    animation: copiedText 1s ease-in-out !important;
}

@keyframes copiedText {
    from {
        background-color: #0F0;
        color: black;
    }
    to {
        background-color: #0F0;
        color: black;
    }
}